* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text-1);
}

html,
body {
  overscroll-behavior: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ol {
list-style-type: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  padding: 0 12px;
  padding-top: 20px;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site__wrapper {
  margin: 0 auto;
  max-width: 942px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.site__header {
  padding: 50px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
}

.header__content {
  padding: 16px 18px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--color-white);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.header__gender {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}

.header__description {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-white);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.site__content {
  display: flex;
  gap: 8px;
}

.site__sidebar {
  flex: 1.25;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.stat-list {
  background-color: var(--card-bg);
  border-radius: 4px;
  display: flex;
  gap: 8px;
}

.stat-item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 18px;
  border-radius: 4px;
  text-align: center;
}

.stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: var(--border-color);
}

.stat-item__value {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--color-text-1);
}

.stat-item__label {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-gray-1);
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 16px 18px;

  overflow: hidden;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item__icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-1);
  margin-right: 5px;
}

.info-item__icon svg {
  width: 100%;
  height: 100%;
}

.info-item__label {
  font-size: 13px;
  color: var(--color-gray-1);
}

.info-item__value {
  font-size: 13px;
  color: var(--color-gray-1);
}

.recent-comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 16px 18px;
}

.recent-comments__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: var(--color-text-1);
}

.recent-comments__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recent-comments__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.recent-comments__avatar {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.recent-comments__content {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-text-1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.site__main {
  flex: 3;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tab-list {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  background-color: var(--color-white);
  border-radius: 4px;
  gap: 5px;
  padding: 8px 16px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab-item {
  color: var(--color-text-1);
  flex-shrink: 0;
  text-align: center;
}

.tab-item:hover {
  background-color: rgba(255, 130, 0, 0.1);
  border-radius: 8px;
}

.tab-item a {
  display: block;
  padding: 5px 16px;
}

.tab-item:hover a {
  color: var(--primary-color);
}

.tab-item.active a {
  color: var(--primary-color);
  font-weight: 500;
}

.comment__wrapper {
  margin-top: -12px;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 16px 18px;
  padding-top: 40px;
  margin-bottom: 80px;
  position: relative;
}

.comment__wrapper::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background: #f9f9f9;
}

.comment__login__content {
  display: flex;
  gap: 8px;
}

/* 鼠标悬停时，头像变暗 */
.comment__login__avatar:hover {
  filter: brightness(0.8);
}

.comment__view {
  display: flex;
  gap: 8px;
  padding: 8px 0;
}

.comment__avatar {
  display: block;
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 0;
}

.comment__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment__meta {
  margin-bottom: 5px;
}

.comment__text {
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text-1);
  /* 文本不换行 */
  white-space: nowrap;
}
.comment__actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 5px;
}

.comment__reply {
  border: none;
  background: transparent;

  color: var(--color-gray-1);
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.comment__reply:hover {
  color: var(--primary-color);
}

.comment__textarea__wrapper {
  flex: 1;
  display: flex;
  padding: 9px 11px;
  height: min-content;
  border-radius: 6px;
  
  color: var(--color-text-1);
  border: 1px solid transparent;
  background: #f0f1f4;
}

.comment__textarea__wrapper:focus-within {
  border: 1px solid var(--primary-color);
  background: var(--color-white);
}

.comment__textarea {
  width: 100%;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  line-height: 24px;
  font-size: 15px;

  min-height: 24px;
  max-height: 456px;
  height: min-content;
  resize: none;
}

.comment__meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comment__textarea:focus-visible {
  outline: none;
  border: none;
}

.comment__login__footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.comment__cancel, .comment__submit {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 32px;
  border-radius: 25px;
  border: none;
  font-size: 13px;
}

.comment__submit {
  background: var(--primary-color);
  color: var(--color-white);
}

.load-indicator {
  text-align: center;
  padding: 16px;
  color: var(--color-gray-1);
  font-size: 14px;
}

.load-indicator a.next {
  display: none;
}

@media (max-width: 640px) {
  .site__content {
    flex-direction: column;
  }

  .site__sidebar {
    flex: 0 0 100%;
    position: static;
    align-self: stretch;
  }

  .stat-list {
    display: none;
  }

  .post__header {
    justify-content: flex-start;
    padding: 12px 18px;
    gap: 16px;
  }

  .header__back {
    position: static;
    min-width: 52px;
  }

  .header__title {
    max-width: 100%;
  }

  .post__images {
    margin-right: 0;
  }
  
  .recent-comments {
    display: none;
  }
}

@media (min-width: 640px) {
  .page-header__content {
    /* display: none; */
  }
}
