* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text-1);
}

html, body {
  overscroll-behavior: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  padding: 0 12px;
  padding-top: 20px;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-container {
  margin: 0 auto;
  max-width: 942px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-header {
  height: 230px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__content {
  padding: 16px 18px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.page-header__avatar {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
}

.page-header__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-header__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.page-header__gender {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}

.page-header__description {
  font-size: 13px;
  line-height: 16px;
  /* color: var(--color-gray-1); */
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.page-main {
  display: flex;
  gap: 8px;
}

.page-sidebar {
  flex: 1.25;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  top: 0;
}

.stat-list {
  background-color: var(--color-white);
  border-radius: 4px;
  display: flex;
  gap: 8px;
}

.stat-item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 18px;
  border-radius: 4px;
  text-align: center;
}

.stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: var(--border-color);
}

.stat-item__value {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--color-text-1);
}

.stat-item__label {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-gray-1);
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 16px 18px;

  overflow: hidden;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item__icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-1);
  margin-right: 5px;
}

.info-item__icon svg {
  width: 100%;
  height: 100%;
}

.info-item__label {
  font-size: 13px;
  color: var(--color-gray-1);
}

.info-item__value {
  font-size: 13px;
  /* line-height: 28px; */
  color: var(--color-gray-1);
}

.page-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tab-list {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  background-color: var(--color-white);
  border-radius: 4px;
  gap: 5px;
  padding: 8px 16px;
}

.tab-item {
  width: 80px;
  color: var(--color-text-1);
  text-align: center;
  padding: 5px;
}

.tab-item:hover {
  background-color: rgba(255, 130, 0, 0.1);
  border-radius: 8px;
}

.tab-item:hover a {
  color: var(--primary-color);
}

.tab-item.active a {
  color: var(--primary-color);
  font-weight: 500;
}

.post-item,
article {
  display: flex;
  gap: 16px;
  background-color: var(--color-white);
  padding: 16px 18px;
  padding-bottom: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.post__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.author__avatar {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}

.author__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 52px;
  padding-top: 4px;
}

.meta__name {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: var(--color-text-1);
}

.meta__date {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-gray-1);
}

.post__content {
  padding-top: 3px;
  color: var(--color-text-1);
  font-size: 15px;
  line-height: 24px;
  overflow-wrap: break-word;
  font-family:
    QuoteFallback,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Noto Sans",
    sans-serif;
  letter-spacing: 0.5px;
  overflow: hidden;
  word-break: break-word;
}

.post__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-right: 80px;
}

.post__image {
  width: 100%;
  /* 宽高一比一，如果宽度超出，则图片居中显示 */
  aspect-ratio: 1/1;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin: 0 auto;
}

.post__content img {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border-radius: 8px;
}

.post__header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  background-color: var(--color-white);
  padding: 12px 0;
}

.header__back {
  position: absolute;
  left: 18px;
  display: flex;
  align-items: center;
}

.back__icon {
  width: 18px;
  height: 18px;
}

.header__title {
  max-width: 70%;
}

.load-indicator {
  text-align: center;
  padding: 16px;
  color: var(--color-gray-1);
  font-size: 14px;
}

.load-indicator a.next {
  display: none;
}

@media (max-width: 640px) {
  .page-main {
    flex-direction: column;
  }

  .page-sidebar {
    flex: 0 0 100%;
    position: static;
    align-self: stretch;
  }

  .stat-list {
    display: none;
  }

  .post__header {
    justify-content: flex-start;
    padding: 12px 18px;
    gap: 16px;
  }

  .header__back {
    position: static;
    min-width: 52px;
  }

  .header__title {
    max-width: 100%;
  }
}

@media (min-width: 640px) {
  .page-header__content {
    /* display: none; */
  }
}
