* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text-1);
}

html,
body {
  overscroll-behavior: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  padding: 0 12px;
  padding-top: 20px;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site__wrapper {
  margin: 0 auto;
  max-width: 942px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.site__header {
  padding: 50px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
}

.header__content {
  padding: 16px 18px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.header__gender {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}

.header__description {
  font-size: 13px;
  line-height: 16px;
  /* color: var(--color-gray-1); */
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.site__content {
  display: flex;
  gap: 8px;
}

.site__sidebar {
  flex: 1.25;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  top: 0;
}

.stat-list {
  background-color: var(--color-white);
  border-radius: 4px;
  display: flex;
  gap: 8px;
}

.stat-item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 18px;
  border-radius: 4px;
  text-align: center;
}

.stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: var(--border-color);
}

.stat-item__value {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--color-text-1);
}

.stat-item__label {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-gray-1);
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 16px 18px;

  overflow: hidden;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item__icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-1);
  margin-right: 5px;
}

.info-item__icon svg {
  width: 100%;
  height: 100%;
}

.info-item__label {
  font-size: 13px;
  color: var(--color-gray-1);
}

.info-item__value {
  font-size: 13px;
  color: var(--color-gray-1);
}

.recent-comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 16px 18px;
}

.recent-comments__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: var(--color-text-1);
}

.recent-comments__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recent-comments__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.recent-comments__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.recent-comments__content {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-text-1);
}

.site__main {
  flex: 3;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tab-list {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  background-color: var(--color-white);
  border-radius: 4px;
  gap: 5px;
  padding: 8px 16px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab-item {
  color: var(--color-text-1);
  flex-shrink: 0;
  text-align: center;
}

.tab-item:hover {
  background-color: rgba(255, 130, 0, 0.1);
  border-radius: 8px;
}

.tab-item a {
  display: block;
  padding: 5px 16px;
}

.tab-item:hover a {
  color: var(--primary-color);
}

.tab-item.active a {
  color: var(--primary-color);
  font-weight: 500;
}

.post-item,
article {
  display: flex;
  gap: 16px;
  background-color: var(--color-white);
  padding: 16px 18px;
  padding-bottom: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.post__header {
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 1;
}

.author__avatar {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}

.author__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 52px;
  padding-top: 4px;
}

.meta__name {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: var(--color-text-1);
}

.meta__date {
  font-size: 13px;
  line-height: 16px;
  color: var(--color-gray-1);
}

.post__main {
  min-width: 0;
}



.load-indicator {
  text-align: center;
  padding: 16px;
  color: var(--color-gray-1);
  font-size: 14px;
}

.load-indicator a.next {
  display: none;
}

@media (max-width: 640px) {
  .site__content {
    flex-direction: column;
  }

  .site__sidebar {
    flex: 0 0 100%;
    position: static;
    align-self: stretch;
  }

  .stat-list {
    display: none;
  }

  .post__header {
    justify-content: flex-start;
    padding: 12px 18px;
    gap: 16px;
  }

  .header__back {
    position: static;
    min-width: 52px;
  }

  .header__title {
    max-width: 100%;
  }

  .post__images {
    margin-right: 0;
  }
}

@media (min-width: 640px) {
  .page-header__content {
    /* display: none; */
  }
}
