:root {
  --color-bg: #f1f2f5;
  --color-white: #fff;
  --color-text-1: #333;
  
  --color-gray-1: #939393;

  --primary-color: #ff8200;

  /* 边框 */
  --border-color: #e5e5e5;

  /* 代码块 */
  --code-block-bg: #282c34;

  /* 卡片背景 */
  --card-bg: var(--color-white);
}